header{
    width: 100%;
    height: 1.37rem;
    margin-top: -0.06rem;
    background: linear-gradient(to right,#d516fb, #9551f1);
    position: relative;
}
header>p img{
    width: 0.09rem;
    height: 0.16rem;
    margin-top: 0.25rem;
    margin-left: 0.15rem;
}
header>p>span{
    color: #fff;
    font-size: 0.18rem;
    margin-left: 1.41rem;
}
header .bar{
    position: absolute;
    top:0.64rem;
    left: 0.15rem;
    width: 3.45rem;
    height: 0.9rem;
    background: #fff;
    border-radius: 0.1rem;
    box-shadow: 0 0.03rem 0.02rem 0 #f8f8f8;
}
header .bar_1{
    position: relative;
    margin-left: 0.32rem;
    margin-top: 0.13rem;
}
header .bar_1 input{
    width: 2.75rem;
    height: 0.31rem;
    border: none;
    font-size: 0.14rem;
    background: #eeeeee;
    border-radius: 0.2rem;
    padding-left: 0.38rem;
    box-sizing: border-box;
    outline: 0;
}
input::-webkit-input-placeholder{
    font-size: 0.14rem;

}

header .bar_1>span{
    position: absolute;
    top: 0.06rem;
    left: 0.16rem;
    width: 0.17rem;
    height: 0.17rem;
    background: url("../img/img_7.png") no-repeat;
    background-size: cover;
}
.bar .classify{
    overflow: hidden;
    margin: 0.13rem 0 0 0;
    padding: 0;
}
.bar .classify li{
    list-style: none;
    float: left;
    font-size: 0.14rem;

}
.bar .classify li:first-of-type{
    color: #660099;
    margin-left: 0.09rem;
    padding-right: 0.15rem;
    background: url("../img/icon_1.png")no-repeat center right;
    background-size: 0.14rem 0.11rem;
}
.bar .classify li:nth-of-type(2){
    color: #999999;
    margin-left: 0.47rem;
    padding-right: 0.15rem;
    background: url("../img/2@2x.png")no-repeat center right;
    background-size: 0.115rem 0.145rem;
}
.bar .classify li:nth-of-type(3){
    color: #999999;
    margin-left: 0.51rem;
    padding-right: 0.15rem;
    background: url("../img/3@2x.png")no-repeat center right;
    background-size: 0.09rem 0.13rem;
}
.bar .classify li:nth-of-type(4){
    color: #999999;
    margin-left: 0.55rem;
    padding-right: 0.15rem;
    background: url("../img/4@2x.png")no-repeat center right;
    background-size: 0.12rem 0.12rem;
}

.bar .classify li:nth-of-type(4)>img{
    color: #999999;
    width: 0.12rem;
    height: 0.12rem;
}
.siteList{
    padding: 0;
    list-style: none;
    margin: 0.19rem 0.15rem 0.3rem 0.15rem;

}
a{
    text-decoration: none;
}
.siteList li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.15rem;
}
.siteList li .img{
    position: relative;
}
.siteList li .img img{
    width: 1.2rem;
    height: 1.23rem;
}
.siteList li .img>span{
    position: absolute;
    top: 1.05rem;
    left: 0.8rem;
    color: #fff;
    font-size: 0.09rem;

}
.text p{
    margin: 0;

}
.text p:first-of-type{
    font-size: 0.13rem;
}
.text p:nth-of-type(2){
    font-size: 0.11rem;
    margin-top: 0.08rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.text p:nth-of-type(3){
    font-size: 0.11rem;
    margin-top: 0.08rem;
}
.num{
    overflow: hidden;
    margin-top: 0.08rem;
}
.num .num_1{
    float: left;
}
.text .num>.num_1>p:first-of-type{
    font-size: 0.11rem;
}

.text>.num>.num_1>p:nth-of-type(2){
    margin-top: 0.08rem;
    font-size: 0.11rem;
}
.text>.num>.num_1>p:nth-of-type(2)>span{
    font-size: 0.11rem;
    color: #660099;
}
.num .p_1>a{
    color: #fff;
    font-size: 0.12rem;
}
.num .p_1{
    float: left;
    margin-left: 0.48rem;
    margin-top: 0.07rem;
    width: 0.77rem;
    height: 0.29rem;
    color: #fff;
    line-height: 0.29rem;
    text-align: center;
    background: url("../img/bcg_1.png") no-repeat;
    background-size: 0.77rem 0.29rem;
}
.num .p_2>a{
    color: #fff;
    font-size: 0.12rem;
}
.num .p_2{
    float: left;
    margin-left: 0.48rem;
    margin-top: 0.07rem;
    width: 0.77rem;
    height: 0.29rem;
    color: #fff;
    line-height: 0.29rem;
    text-align: center;
    background: url("../img/bag_2.png") no-repeat;
    background-size: 0.77rem 0.29rem;
}